/* PHASE 9: Forms */
.form {
    display:flex;
}
.form-fieldset{
    border:black;
    background-color: lightgray;
    width:400px;
    height:500px;
}

.thumbs{
    float:left;
}
.form-textarea{
    width:400px;
    height: 200px;
}