html, body, h1, h2, section, aside {
    margin: 0;
    padding: 0;
    border: 0;
    
    font: inherit;
}

li{
    list-style: none;
}


body { 
    text-line-height: 1.5px;

}

img { 
    
    border: inherit;
    width: 100%;
}


